---
layout: "base.njk"
---
<center>
<div class="containtitle">
  <div class="articletitle">
    <h1>{{ title }}</h1>
    <div class="article-title-divider"></div>
  </div>
  <h3 class="mt-2 tag"><span>Author: {{author}}</span> <span class="spanr"> Tags: {% for tags in tags %}
    <span
      class="
        inline-block
        bg-gray-200
        rounded-full
        px-3
        py-1
        text-sm
        font-semibold
        text-gray-700
        mr-2
        ml-1
        mb-2
      "
      >{{ tags }}</span
    >
    {% endfor %} </span> 
    <span>Posted On: {{date | postDate}}</span>
</div>
</center>

<img src="{{ image }}" alt="{{ imageAlt }}" width="100%" />

<br/>


<div class="prose  m-3 p-3 max-w-none">
    {{ content | safe }}
</div>
