<a href="{{ post.url }}">
    <div class="rounded overflow-hidden shadow-lg">
      <img class="w-full" src={{post.data.image}} alt={{post.data.imageAlt}}>
      <div class="px-6 py-4">
       
        <div class="font-bold text-xl mb-2">{{post.data.title}}</div>
      
        <div class="flex" style="justify-content: space-between;">
          <div class="font-bold mb-2">Author: {{post.data.author}}</div>
          <div class="font-bold mb-2">{{post.date | postDate}}</div>
        </div>
        <p class="text-gray-700 text-base">
         {{post.data.description}}
        </p>
      </div>
      <!-- <div class="px-6 pt-4 pb-2">
        {%- for tags in post.tags -%}
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
        {%- endfor %}
      </div> -->
    </div>
  </a>