<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700..900&family=Roboto:ital,wght@0,400;0,700;1,300&display=swap"
      rel="stylesheet"
    />

    <meta
      property="og:title"
      content="{% if social-title %}{{ social - title }}{% else %}{{
        title
      }} | {{ title }}{% endif %}"
    />
    <meta
      property="og:description"
      content="{% if social-description %}{{
        social - description
      }}{% elif  description %}{{ description }}{% else %}{{
        description
      }}{% endif %}"
    />
    <meta
      property="og:url"
      content="{{ page.url | url  }}"
    />
    <meta
      property="og:image"
      content="{% if social-image %}{{
        social - image
      }}{% else %}{{ site.url | url  }}img/brand-icon.png{% endif %}"
    />
    <meta
      name="twitter:image"
      content="{% if social-image %}{{
        social - image
      }}{% else %}{{ site.url | url  }}img/brand-icon.png{% endif %}"
    />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- Netlify CMS -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
    <!-- Styling -->
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="/build/styles.css" />

    <!-- Alpine Js -->
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>

    <title>{{ title }}</title>
  </head>
  <body>
    {% include 'header.njk' %}
    <main>
      {{ content | safe }}
    </main>
    {% include 'footer.njk' %}
  </body>
</html>
