---
title: Knight Times News
layout: "base.njk"
---

<div id="search"></div>

<!-- Hero Section -->
<section class="flex bg-gray-100 mt-2 hero">
  <div class="left">
    <h1 class="text-6xl">Dr. Muhammad Khan</h1>
    <p class="descrip">
      CEO of Psycore Medical
    </p>
    <a href="#">
    <button
      class="
        bg-blue-500
        hover:bg-blue-700
        text-white
        font-bold
        py-2
        px-4
        rounded
      "
    >
      Join Us!
    </button>
  </a>
  <a href="/articles">
    <button
      class="
        bg-blue-500
        hover:bg-blue-700
        text-white
        font-bold
        py-2
        px-4
        rounded
      "
    >
      Read My Articles
    </button>
  </a>
  </div>
  <div class="right">
    <img src="assets/khan.png" alt="">
  </div>
</section>

<section class="featuredarticle">
  <h1 class="text-4xl m-5">Featured Articles</h1>
  <div
    class="
      p-10
      grid grid-cols-1
      sm:grid-cols-1
      md:grid-cols-3
      lg:grid-cols-3
      xl:grid-cols-3
      gap-5
    "
  >
    {%- for post in collections.featured | reverse -%} {% include
    "article-snippet.njk" %} {%- endfor %}
  </div>
</section>

